* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111; /* Dark background */
  color: #fff; /* Default text color is white */
  font-family: "Roboto", sans-serif; /* Apply consistent font */
}

p {
  color: white; /* Ensures paragraph text is white */
}